<aside class="sidebar flex flex-col h-full bg-white" [class.aberta]="aberto">
    <div class="flex menu-header">
        <img src="logo.svg" alt="logomarca" class="logo">
        <button (click)="toggleSidebar()" class="menu-btn">
            <app-icon name="menu" class="text-black"/>
        </button>
    </div>
    @for (item of items; track item.label){
        <a [routerLink]="item.routerLink" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }" class="menuitem flex  text-gray-900 gap-2.5 ">
            <app-icon [name]="item.icon" class="w-5.5" />
            <span class="menulabel">
                {{ item.label }}
            </span>
        </a>

    }
</aside>