@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    gap: 14px;
    width: 74px;
    transition: width 0.3s ease, padding 0.3s ease;
    padding: 28px 12px;
}

.menu-header{
    align-items: center;
    justify-content: space-around;
    margin-bottom: 64px;
    height: 35px;
}
.menu-btn{
    height: 13px;
    cursor: pointer;
}
.sidebar .logo{
    display: none;
}

.sidebar.aberta .logo{
    display: block;
    height: 55px;
}

.adicionar {
    border-radius: 9px;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 100%;
}

.menuitem {
    border-radius: 9px;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.menuitem:hover {
    background-color: #e8e8e8;
}

.menuitem.ativo {
    color: #7843CD;
    font-weight:bold;
}
.menulabel{
    display: none;
}

.sidebar.aberta .menulabel{
    display: flex;
}

.sidebar.aberta {
    width: 230px;
}

.sidebar.aberta .menuitem {
    padding: 14px 36px;
    justify-content: start;
}

.botao-adicionar {
    width: 44px;
    height: 44px;
    transition: width 0.3s ease, padding 0.3s ease;
}

.sidebar.aberta .botao-adicionar {
    width: 100%;
    height: auto;
    padding: 10px 16px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 0;
        position: fixed;
        z-index: 1100;
        padding: 28px 0;
        overflow: hidden;
    }
    .sidebar.aberta {
        width: 100dvw;
        position: fixed;
        z-index: 1100;
        overflow: visible;
    }
}