<section class="w-full hero-min-h px-6 md:px-20 pt-12 pb-12 flex flex-col md:flex-row items-start justify-between gap-12 relative overflow-hidden" style="background-color: #D1C4FF;">
  
  <div class="flex-1 flex justify-center items-center w-full relative min-h-100 mt-8 md:mt-12">
    <div class="relative w-full max-w-[320px] flex justify-center items-center">
      <div class="absolute" style="width: 255px; height: 320px; border: 1px solid #FFDE59; left: -5.5px; top: calc(50% - 227px); z-index: 5;"></div>
      <div class="absolute" style="width: 225px; height: 290px; border: 1px solid #FFDE59; left: 10.75px; top: calc(50% - 212px); z-index: 5;"></div>
      <div class="absolute" style="width: 540px; height: 2.322px; background-color: #FBBC05; left: -142.5px; top: calc(50% + 93px); z-index: 5;"></div>
      <img src="j.svg" alt="Ilustração Principal" class="hero-j-dimensions object-contain relative z-10" />
      
      <img src="g.svg" class="absolute -bottom-6 -right-12 w-28 h-auto z-20 drop-shadow-md" alt="" />
      <img src="d.svg" class="absolute w-24 h-auto opacity-90" style="top: calc(50% - 223px); left: 170px; z-index: 15;" alt="" />
      <img src="f.svg" class="absolute z-20 drop-shadow-md" style="top: -20px; left: 15px; width: 56px; height: auto;" alt="" />
    </div>
  </div>

  <div class="flex-1 flex flex-col items-start w-full md:hero-container-max z-10 mt-8 md:mt-12">
    
    <div class="relative w-full">
      <h1 class="w-full font-['Urbanist'] font-bold text-5xl md:text-[64px] text-[#1A1A1A] tracking-[-1.92px] leading-tight mb-4">
        Nunca foi tão fácil <br class="hidden md:inline"><span class="md:whitespace-nowrap">administrar suas finanças</span>
      </h1>
      <img src="/Vector.svg" class="absolute top-40 left-116 md:left-126 w-39.75 h-auto" alt="" />
    </div>
    
    <p class="font-['Lexend_Deca'] font-light text-base text-[#808080] w-full md:hero-text-max leading-7 tracking-[-0.32px] mb-6">
      A gestão financeira pessoal envolve o controle de gastos e planejamento – não apenas ganhar e gastar o seu dinheiro.
    </p>
    
    <div class="w-full sm:w-auto">
      <a routerLink="/signup" class="w-full sm:w-60 h-16.25 bg-[#7843CD] text-white font-['Lexend_Deca'] font-medium text-lg flex items-center justify-center rounded-lg hover:bg-[#6533b3] transition-all shadow-md">
        Vem enriquecer
      </a>
    </div>
  </div>

</section>