/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
  --color-npl-amarelo: #EEC046;
  --color-npl-verde:#46B171;
}

main > *:not(p-toast):not(router-outlet) {
  flex: 1 1 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
}