<div class="bg-[#F5F6FA] p-6 2xl:p-8 h-[calc(100vh-64px)] overflow-y-auto overflow-x-hidden">

    <div class="grid grid-cols-1 2xl:grid-cols-12 gap-6 min-h-full">

        <!-- COLUNA ESQUERDA -->
        <div class="2xl:col-span-5 flex flex-col gap-6 min-w-0">
          <!-- Cartões -->
          <app-cartoes-contas></app-cartoes-contas>

            <!-- INFORMAÇÕES -->
            <app-informacoes-conta></app-informacoes-conta>

        <!-- COLUNA DIREITA -->
        <div class="2xl:col-span-7 flex flex-col gap-6 min-w-0 min-h-0">

            <!-- GRÁFICO -->
            <app-grafico-conta></app-grafico-conta>

            <!-- TRANSAÇÕES -->
            <app-transacoes-conta></app-transacoes-conta>

<!-- DIALOG -->
<form [formGroup]="formContaFinanceira">

    <p-dialog
        header="Nova Conta"
        [(visible)]="exibirDialog"
        [modal]="true"
        [draggable]="false"
        [resizable]="false"
        styleClass="rounded-3xl!"
        [style]="{ width: '42rem' }">

        <div class="flex flex-col gap-8 py-4">

            <!-- NOME -->
            <div class="flex flex-col gap-2">

                <label class="font-semibold text-slate-700">
                    Nome da Conta
                </label>

                <input
                    pInputText
                    formControlName="nome"
                    placeholder="Ex: Santander"
                    class="w-full" />

            </div>

            <!-- SALDO -->
            <div class="flex flex-col gap-2">

                <label class="font-semibold text-slate-700">
                    Saldo
                </label>

                <p-inputNumber
                    formControlName="saldo"
                    locale="pt-BR"
                    mode="currency"
                    currency="BRL"
                    inputStyleClass="w-full">
                </p-inputNumber>

            </div>

            <!-- COR -->
            <div class="flex flex-col gap-4">

                <label class="font-semibold text-slate-700">
                    Cor do cartão
                </label>

                <p-colorpicker
                    formControlName="cor"
                    [inline]="true">
                </p-colorpicker>

            </div>

        </div>

        <ng-template pTemplate="footer">

            <div class="flex justify-end gap-3 w-full">

                <p-button
                    label="Cancelar"
                    severity="secondary"
                    (click)="exibirDialog = false">
                </p-button>

                <p-button
                    icon="pi pi-check"
                    severity="success"
                    label="Salvar Conta"
                    (click)="salvarConta()">
                </p-button>

            </div>

        </ng-template>

    </p-dialog>

    <p-dialog
        header="Excluir Conta"
        [(visible)]="excluirDialog"
        [modal]="true"
        [draggable]="false"
        [resizable]="false"
        styleClass="rounded-3xl!"
        [style]="{ width: '32rem' }">

        <div class="flex flex-col gap-6 py-4">

            <div class="flex items-center gap-4">

                <div
                    class="w-14 h-14 rounded-full
                          bg-red-100
                          flex items-center justify-center">

                    <i class="pi pi-trash text-red-500 text-2xl"></i>

                </div>

                <div class="flex flex-col">

                    <span class="text-xl font-semibold text-slate-900">
                        Confirmar exclusão
                    </span>

                    <span class="text-slate-500">
                        Esta ação não poderá ser desfeita.
                    </span>

                </div>

            </div>

            <div
                class="bg-slate-50 border border-slate-200 rounded-2xl p-5">

                <span class="text-slate-400 text-sm block mb-2">
                    Conta selecionada
                </span>

                <span class="text-2xl font-bold text-slate-900">
                    {{ contaExcluir?.nome }}
                </span>

            </div>

        </div>

        <ng-template pTemplate="footer">

            <div class="flex justify-end gap-3 w-full">

                <p-button
                    label="Cancelar"
                    severity="secondary"
                    (click)="fecharDialogExcluir()">
                </p-button>

                <p-button
                    label="Confirmar Exclusão"
                    icon="pi pi-trash"
                    severity="danger"
                    (click)="confirmarExcluirConta()">
                </p-button>

            </div>

        </ng-template>

    </p-dialog>

</form>
