<nav class="w-full h-30 bg-[#FAFAFA] px-6 md:px-20 py-8 flex justify-between items-center border-b border-gray-100">
  
  <div class="flex items-center justify-center">
    <img src="logo.svg" alt="Na Ponta do Lápis" class="h-12 md:h-14 object-contain" />
  </div>

  <div class="hidden md:flex items-center gap-8">
    <a href="#" class="font-['Lexend_Deca'] font-light text-xl text-[#7843CD] leading-[1.2] transition-colors">Home</a>
    <a href="#" class="font-['Lexend_Deca'] font-light text-xl text-[#4D4D4D] hover:text-[#7843CD] leading-[1.2] transition-colors">Produto</a>
    <a href="#" class="font-['Lexend_Deca'] font-light text-xl text-[#4D4D4D] hover:text-[#7843CD] leading-[1.2] transition-colors">Sobre nós</a>
  </div>

  <div class="flex items-center gap-4">
    <a routerLink="/login" class="w-32.5 h-12 border-2 border-[#7843CD] text-[#7843CD] font-semibold flex items-center justify-center rounded-xl hover:bg-purple-50 transition-all">
      Entrar
    </a>
    
    <a routerLink="/signup" class="w-32.5 h-12 bg-[#7843CD] text-white font-semibold flex items-center justify-center rounded-xl hover:bg-[#6533b3] transition-all shadow-sm">
      Cadastrar
    </a>
  </div>

</nav>