<nav class="sticky  z-50 w-full bg-white   ">
  <div class=" mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end h-16">
        
        <div class="flex items-center gap-5 ">
            <i class="pi pi-bell"></i>
            <div><img class="h-12 w-12 rounded-full border-4 border-[#f9db70]  object-cover" [src]="usuarioLogado?.fotoPerfil" (error)="usarFotoPadrao($event)" alt="{{usuarioLogado?.nome}}"></div>
            <div><p class="">{{ usuarioLogado?.nome }}</p></div>
            <div>
                <p-button variant="text" styleClass="text-red-500! hover:bg-[#fef2f2]!" (onClick)="logout()">logout<i class="pi pi-sign-out "></i></p-button>
            </div>
        </div>

    
    </div>
  </div>
</nav>