{% extends 'base.html' %}
{% load static %}
{% block page_title %} Grupo Familiar {% endblock%}
{% block title %} Grupo Familiar {% endblock%}
{% block main %}
    
    <div class="grid grid-cols-2 gap-0 max-w-7xl ml-auto mr-auto">
        <!-- Linha 1 -->
        <div class=" p-4 rounded-lg text-center">
            <img src="{% static 'familia/images/iconeGrupoFamiliar.png' %}" alt="" class="w-92 h-82 mx-auto">
            {% if familia %}
            <h2 class="text-3xl">Família {{ nome }}</h2>
            {% endif %}
        </div>
        <div class="flex-1 p-4 rounded-lg mt-20">
            {% if familia %}
            <div class="grid grid-cols-2 text-left">
                <div class="text-right mb-6" id="chefe">
                    {% if chefe.foto_perfil %}
                    <img src="{{ chefe.foto_perfil.url }}" alt="Foto do Chefe" class="w-16 h-16 rounded-full mx-auto">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none" class="mx-auto">
                        <path d="M30.1607 30.1607C38.4926 30.1607 45.241 23.4122 45.241 15.0803C45.241 6.74845 38.4926 0 30.1607 0C21.8288 0 15.0803 6.74845 15.0803 15.0803C15.0803 23.4122 21.8288 30.1607 30.1607 30.1607ZM30.1607 37.7008C20.0946 37.7008 0 42.7527 0 52.7812V60.3213H60.3214V52.7812C60.3214 42.7527 40.2268 37.7008 30.1607 37.7008Z" fill="black"/>
                    </svg>
                    {% endif %}
                </div>
                <div id="dados_chefe">
                    <h1>{{ chefe.nome_completo }}</h1>
                    <p class="text-sm text-gray-600">{{ chefe.email }}</p>
                    <p class="text-sm text-gray-600">Papel: {{ chefe.get_papel_display }}</p>
                </div>
            </div>
            <div class="p-4 rounded-2xl bg-white mx-auto shadow-lg">
                <div class="text-center mb-4">
                    <h2 class="font-bold text-lg">MEMBROS</h2>
                </div>
                <div id="membros-grid" class="grid grid-cols-3 gap-6 mb-6 place-items-center min-h-max">
                    {% for membro in membros %}
                    <div class="flex flex-col items-center gap-2">
                        <div class="relative">
                            {% if membro.foto_perfil %}
                            <img src="{{ membro.foto_perfil.url }}" alt="Foto de {{ membro.nome_completo }}" class="w-12 h-12 rounded-full">
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 61 61" fill="none">
                                <path d="M30.1607 30.1607C38.4926 30.1607 45.241 23.4122 45.241 15.0803C45.241 6.74845 38.4926 0 30.1607 0C21.8288 0 15.0803 6.74845 15.0803 15.0803C15.0803 23.4122 21.8288 30.1607 30.1607 30.1607ZM30.1607 37.7008C20.0946 37.7008 0 42.7527 0 52.7812V60.3213H60.3214V52.7812C60.3214 42.7527 40.2268 37.7008 30.1607 37.7008Z" fill="black"/>
                            </svg>
                            {% endif %}
                            {% if user.is_adminFamilia %}
                            <button class="remove-btn absolute top-0 right-0 hover:cursor-pointer bg-white rounded-full p-1" data-email="{{ membro.email }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M8 1C4.1 1 1 4.1 1 8C1 11.9 4.1 15 8 15C11.9 15 15 11.9 15 8C15 4.1 11.9 1 8 1ZM8 14C4.7 14 2 11.3 2 8C2 4.7 4.7 2 8 2C11.3 2 14 4.7 14 8C14 11.3 11.3 14 8 14Z" fill="black"/>
                                    <path d="M10.7 11.5L8 8.8L5.3 11.5L4.5 10.7L7.2 8L4.5 5.3L5.3 4.5L8 7.2L10.7 4.5L11.5 5.3L8.8 8L11.5 10.7L10.7 11.5Z" fill="black"/>
                                </svg>
                            </button>
                            {% endif %}
                        </div>
                        <p class="text-sm font-semibold text-center">{{ membro.nome_completo }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% if user.is_adminFamilia %}
                <div class="text-center pt-4 border-t border-gray-200">
                    <h3 class="mx-auto mb-3">Adicionar Membro</h3>
                    <label for="member-form" class="btn btn-primary btn-xs gap-2 rounded-xl mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                        </svg>
                    </label>
                </div>
                {% endif %}
            </div>

            <input type="checkbox" id="member-form" class="modal-toggle" />

            <div class="modal" role="dialog">
            <div class="modal-box w-90 bg-white">
                <h3 class="font-bold text-lg">Adicionar Membro</h3>

                <form method="POST" action="{% url 'familia:adicionarMembro' user.id_familia.id %}">
                {% csrf_token %}

                <div class="form-control mt-4">
                    <label class="label block">
                    <span class="label-text text-black">Email</span>
                    </label>
                    <input type="email" name="email" class="input input-bordered bg-gray-200 required" placeholder="email do usuário..." required/>
                </div>

                <div class="modal-action">
                    <button type="submit" class="btn btn-success">Enviar</button>

                    <!-- Fecha o modal -->
                    <label for="member-form" class="btn">Cancelar</label>
                </div>
                </form>
            </div>
            </div>
            {% else %}
            <div class="grid grid-cols-3 gap-4 place-items-center w-150 h-44 rounded-2xl bg-white mx-auto p-4 shadow-lg">
                <span></span>
                <div class="text-center self-start">
                    <h2 class="font-bold">MEMBROS</h2>
                </div>
                <span></span>
                <span></span>
                <div class="text-center self-start">
                    <h2 class="mx-auto">Criar Familia</h2>
                    <label for="modal-form" class="btn btn-primary btn-xs gap-2 rounded-xl mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
                        </svg>
                    </label>
                </div>
                <span></span>
            </div>
            {% endif %}
            
        </div>
        
        <!-- Linha 2 -->
        <div class=" p-4 rounded-lg col-span-2">
            <div class="fieldset border border-gray-300 rounded-box bg-white">
            <h3 class="text-xl font-bold m-3">Histórico</h3>
        
            <div class="overflow-x-auto">
                <div class="overflow-x-auto">
                <table class="table ml-0 mr-0">
                    <thead>
                        <tr class="bg-gray-200 text-gray-700">
                            <th>Data/Hora</th>
                            <th>Valor</th>
                            <th>Descrição</th>
                            <th>Tipo</th>
                            <th>Categoria</th>
                            <th>Conta</th>
                            <th>Membro</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-purple-50">
                            <td></td>
                            <td class="text-red-400"></td>
                            <td></td>
                            <td></td>
                            <td></td>  
                            <td></td>
                            <td></td>
                            <td class="flex justify-center">
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>



<input type="checkbox" id="modal-form" class="modal-toggle" />

<div class="modal" role="dialog">
  <div class="modal-box w-90 bg-white">
    <h3 class="font-bold text-lg">Criar Família</h3>

    <form method="POST" action="{% url 'familia:criarFamilia' %}">
      {% csrf_token %}

      <div class="form-control mt-4">
        <label class="label block">
          <span class="label-text text-black">Nome</span>
        </label>
        <input type="text" name="nome" class="input input-bordered bg-gray-200 required" placeholder="nome da família..." required/>
      </div>

      <div class="modal-action">
        <button type="submit" class="btn btn-success">Enviar</button>

        <!-- Fecha o modal -->
        <label for="modal-form" class="btn">Cancelar</label>
      </div>
    </form>
  </div>
</div>
        

<div id="popup-msg" class="hidden fixed bottom-4 right-4">
    <div class="alert alert-success shadow-lg max-w-xs w-96">
        <span class="font-bold" id="popup-text"></span>
    </div>
</div>





{% if messages %}
<script>
document.addEventListener("DOMContentLoaded", function () {

    const popup = document.getElementById("popup-msg");
    const popupText = document.getElementById("popup-text");

    {% for message in messages %}
        popupText.innerText = "{{ message }}";
    {% endfor %}

    popup.classList.remove("hidden");

    setTimeout(() => {
        popup.classList.add("hidden");
    }, 3000);
});
</script>
{% endif %}


{% endblock %}