<div>

    <div>

        <div class="flex h-screen items-center justify-center ">
            <p-card class="bg-[#F8FAFC]!">
                <div class="flex justify-between items-center mb-3">

                    <h1 class=" text-amber-400 font-bold text-2xl">Movimentações</h1>

                    <div class="flex gap-2">
                        <p-button styleClass=" text-white! !bg-[#3B82F6] !text-slate-70 0 !border-slate-200 hover:!bg-slate-100 shadow-sm">Filtrar</p-button>
                        <p-button (onClick)="abrirDialog()">Adicionar Transação</p-button>
                        <p-floatlabel>
                            <p-iconfield>
                                <p-inputicon class="pi pi-search" />
                                <input pInputText id="over_label" autocomplete="off" />
                            </p-iconfield>
                            <label for="over_label">Buscar</label>
                        </p-floatlabel>
                    </div>
                </div>

                <p-table [value]="transacoesDados" [paginator]="true" [rows]="5" class="w-400">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Descrição</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Categoria</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Conta</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Data</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Tipo</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Estado</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Valor</th>
                            <th class="bg-[#F8F8FC]! text-slate-700!">Ações</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-t>
                        <tr>
                            <td>{{ t.descricao }}</td>
                            <td>{{ t.categoria.nome }}</td>
                            <td>{{ t.conta.nome }}</td>
                            <td>{{ t.dataHora | date:'dd/MM/yyyy' }}</td>
                            <td>
                                <p-tag [value]="t.tipo" [severity]="getSeverity(t.tipo)"></p-tag>
                            </td>
                            <td>{{ t.estado }}</td>
                            <td>{{ t.valor | currency: 'BRL'}}</td>
                            <td>
                                <p-button icon="pi pi-trash" (onClick)="excluir(t.id)">

                                </p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>

    </div>

<!-- <p-dialog 
    header="Nova Movimentação" 
    [(visible)]="exibirDialog" 
    [modal]="true" 
    >
    
    <div class="flex flex-col gap-4 mt-4">
        <div class="flex flex-col gap-1">
            <label class="font-bold">Descrição</label>
            <input pInputText [(ngModel)]="novaTransacao.descricao" placeholder="Ex: Internet" />
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-1">
                <label class="font-bold">Categoria</label>
                <input pInputText [(ngModel)]="novaTransacao.categoria" placeholder="Ex: Contas" />
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-bold">Valor</label>
                <p-inputNumber [(ngModel)]="novaTransacao.valor" mode="currency" currency="BRL" locale="pt-BR" />
            </div>
        </div>

        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col gap-1">
                <label class="font-bold">Conta</label>
                <p-select [options]="opcoesConta" [(ngModel)]="novaTransacao.conta" placeholder="Selecione" [appendTo]="'body'" ></p-select>
            </div>
            <div class="flex flex-col gap-1">
                <label class="font-bold">Estado</label>
                <p-select [options]="opcoesEstado" [(ngModel)]="novaTransacao.estado" placeholder="Selecione" [appendTo]="'body'"></p-select>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-bold">Tipo</label>
            <div class="flex gap-4">
                <div *ngFor="let tipo of tiposTransacao" class="flex items-center">
                    <p-radioButton [name]="'tipoTransacao'" [value]="tipo.value" [(ngModel)]="novaTransacao.tipoTransacao" [inputId]="tipo.value"></p-radioButton>
                    <label [for]="tipo.value" class="ml-2">{{ tipo.label }}</label>
                </div>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary" (onClick)="exibirDialog = false"></p-button>
        <p-button label="Salvar" icon="pi pi-check" severity="success" (onClick)="salvar()"></p-button>
    </ng-template>
</p-dialog> -->