{% load l10n %}
{% load static %}
<table class="table">
    <thead>
        <tr class="bg-gray-200 text-gray-700">
            <th id="btn_estado" class="hover:cursor-pointer hover:bg-gray-100">Estado</th>
            <th id="btn_data_hora" class="hover:cursor-pointer hover:bg-gray-100">Data/Hora</th>
            <th id="btn_valor" class="hover:cursor-pointer hover:bg-gray-100">Valor</th>
            <th id="btn_descricao" class="hover:cursor-pointer hover:bg-gray-100">Descrição</th>
            <th id="btn_categoria" class="hover:cursor-pointer hover:bg-gray-100">Categoria</th>
            <th id="btn_conta" class="hover:cursor-pointer hover:bg-gray-100">Conta</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="t_body">
        {% if minhas_transacoes.paginator.count == 0 %}
            <tr>
                <td colspan="7">
                    <div class="alert" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <span>
                            <strong>Nenhuma transação encontrada.</strong> 
                        </span>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% for transacao in minhas_transacoes %}
            <tr class="hover:bg-purple-50">
                <td>
                    {% if transacao.estado == "realizada" %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M17 3.33782C15.5291 2.48697 13.8214 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 11.3151 21.9311 10.6462 21.8 10" stroke="#4BCC63" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M8 12.5C8 12.5 9.5 12.5 11.5 16C11.5 16 17.0588 6.83333 22 5" stroke="#4BCC63" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    {% elif transacao.estado == "pendente" %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#DD3340" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 8V12.5" stroke="#DD3340" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 15.9883V15.9983" stroke="#DD3340" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    {% else %}
                        <span>X</span>
                    {% endif %}
                </td>
                <td class=" text-gray-600 font-medium">
    
                    {{ transacao.data_hora|date:"d/m/Y" }}<br>
                    <span class="text-xs">{{transacao.data_hora|time:"H:i"}}</span>
                    
                </td>
                {% if transacao.tipo == "receita" %}
                    <td class="text-green-500 font-semibold">
                        + R$ {% if user.is_authenticated %} {{ transacao.get_valor_display }} {% else %} {{transacao.valor}} {% endif %}
                    </td>
                {% elif transacao.tipo == "despesa" %}
                    <td class="text-red-500 font-semibold">
                        - R$ {% if user.is_authenticated %} {{ transacao.get_valor_display }} {% else %} {{transacao.valor}} {% endif %}
                    </td>
                {% endif %}
                <td>{{ transacao.descricao }}</td>
                <td>
                    {% if user.is_authenticated %}{{ transacao.get_categoria_display }}{% else %}{{ transacao.categoria|capfirst }}{% endif %}
                </td>  
                <td>
                    {% if user.is_authenticated %}{{ transacao.conta_financeira.nome }}{% else %}{{ transacao.conta_financeira_id }}{% endif %}
                </td>

                <!-- Botões de editar/exluir -->
                <td class="flex">
                    <!-- Botão de edição -->
                    <button class="cursor-pointer stroke-npl-roxo hover:stroke-amber-400" onclick="modal_editar_transacao{{transacao.id}}.showModal()" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M16.4249 4.60509L17.4149 3.6151C18.2351 2.79497 19.5648 2.79497 20.3849 3.6151C21.205 4.43524 21.205 5.76493 20.3849 6.58507L19.3949 7.57506M16.4249 4.60509L9.76558 11.2644C9.25807 11.772 8.89804 12.4078 8.72397 13.1041L8 16L10.8959 15.276C11.5922 15.102 12.228 14.7419 12.7356 14.2344L19.3949 7.57506M16.4249 4.60509L19.3949 7.57506"
                                stroke="#currentColor" stroke-width="1.5" stroke-linejoin="round" />
                            <path
                                d="M18.9999 13.5C18.9999 16.7875 18.9999 18.4312 18.092 19.5376C17.9258 19.7401 17.7401 19.9258 17.5375 20.092C16.4312 21 14.7874 21 11.4999 21H11C7.22876 21 5.34316 21 4.17159 19.8284C3.00003 18.6569 3 16.7712 3 13V12.5C3 9.21252 3 7.56879 3.90794 6.46244C4.07417 6.2599 4.2599 6.07417 4.46244 5.90794C5.56879 5 7.21252 5 10.5 5"
                                stroke="#currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <!-- Form/modal Editar transacao -->

                    <dialog id="modal_editar_transacao{{transacao.id}}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <h3 class="text-xl font-bold mb-7">Edição de Transação</h3>
                            <form action="{% url 'transacoes:editar' id=transacao.id %}" method="POST" class="mt-4">
                                {% csrf_token %}
                                <div class="form-control w-full mt-4">
                                    <label class="input w-full">
                                        <span class="label">Descrição*</span>
                                        <input type="text" name="descricao" placeholder="Ex: Roupas do Natal..." value="{{transacao.descricao}}" minlength="3" required  />
                                    </label>
                                </div>
                                <div class="form-control w-full mt-4">

                                    <label class="input w-full">
                                        <span class="label">Valor*</span>
                                        <input type="number" step="0.01" min="0.01" required name="valor" placeholder="Ex: 9,99" value="{{ transacao.valor|unlocalize }}"" />
                                    </label>
                                </div>
                                <div class="form-control w-full mt-4">
                                    <label class="select w-full">
                                        <span class="label">Categoria*</span>
                                        <select name="categoria" required>
                                            <option disabled>Selecione uma categoria: </option>
                                            {% for valor, label in categorias %}
                                            <option value="{{ valor }}" {% if transacao.categoria == valor %} selected {%endif%}>{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                    
                                </div>
                                <div class="flex">
                                    
                                    <div class="form-control w-1/2 mt-4">
                                        <label class="select">
                                            <span class="label">Tipo*</span>
                                            <select name="tipo" required>
                                                <option disabled> Selecione o tipo de sua transação: </option>
                                                {% for valor, label in tipos %}
                                                <option value="{{ valor }}"  {% if transacao.tipo == valor %} selected {%endif%}>{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                    <!-- Elemento de input de estado -->
                                    <div class="form-control w-1/2 mt-4 input ml-1.5 ">
                                        <span class="label">Foi paga/recebida*</span>
                                        <input type="hidden" name="estado" value="pendente"  />
                                        <label class="toggle text-base-content">
                                            <input type="checkbox" name="estado" value="realizada" {% if transacao.estado == "realizada" %} checked {% endif %} />
                                            <svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M18 6 6 18" />
                                                <path d="m6 6 12 12" />
                                            </svg>
                                            <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
                                                    <path d="M20 6 9 17l-5-5"></path>
                                                </g>
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                                <!-- Data -->
                                <div class="form-control w-full mt-4">
                                    <label class="input w-full">
                                        <span class="label">Data*</span>
                                        <input type="datetime-local" name="data_hora" value="{{transacao.data_hora|date:'Y-m-d\\TH:i'}}" />
                                    </label>
                                </div>
                                <!-- Box Conta e Marcador -->
                                <div class="flex">
                                    <div class="form-control w-full mt-4 mr-1.5">
                                        <label class="select w-full bg-white border border-gray-300">
                                            <span class="label">Marcador</span>
                                            <select name="marcadores">
                                                    <option disabled >Selecione uma Marcador: </option>
                                                    <option disabled selected hidden> </option>
                                                {% for marcador in marcadores %}
                                                    <option
                                                        value="{{ marcador.id }}"
                                                        {% for marcador_transacao in transacao.marcadores.all %}
                                                            {% if marcador_transacao.id == marcador.id %} selected {% endif %}
                                                        {% endfor %} >
                                                        {{ marcador.nome }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>

                                    <div class="form-control w-full mt-4">
                                        <label class="select w-full">
                                            <span class="label">Conta Financeira*</span>
                                            <select name="conta_financeira">
                                                <option disabled>Selecione uma Conta Financeira: </option>
                                                {% for conta in contas %}
                                                <option value="{{ conta.id }}"  {% if transacao.conta_financeira_id == conta.id %} selected {%endif%}>{{ conta.nome }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="divider mt-6"></div>
                                <div class="flex justify-end">
                                    <input type="submit" class="btn btn-soft btn-success" disabled value="SALVAR E CRIAR NOVA">
                                    <input type="submit" class="btn btn-outline btn-success ml-4" value="SALVAR">
                                
                                </div>
                            </form>
                        </div>
                    </dialog>

                    <!-- Botão excluir transação -->
                    <button class="cursor-pointer stroke-npl-roxo hover:stroke-amber-400" onclick="modal_excluir_transacao{{transacao.id}}.showModal()" >
                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M19.5 5.5L18.8803 15.5251C18.7219 18.0864 18.6428 19.3671 18.0008 20.2879C17.6833 20.7431 17.2747 21.1273 16.8007 21.416C15.8421 22 14.559 22 11.9927 22C9.42312 22 8.1383 22 7.17905 21.4149C6.7048 21.1257 6.296 20.7408 5.97868 20.2848C5.33688 19.3626 5.25945 18.0801 5.10461 15.5152L4.5 5.5"
                                stroke="#currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path
                                d="M3 5.5H21M16.0557 5.5L15.3731 4.09173C14.9196 3.15626 14.6928 2.68852 14.3017 2.39681C14.215 2.3321 14.1231 2.27454 14.027 2.2247C13.5939 2 13.0741 2 12.0345 2C10.9688 2 10.436 2 9.99568 2.23412C9.8981 2.28601 9.80498 2.3459 9.71729 2.41317C9.32164 2.7167 9.10063 3.20155 8.65861 4.17126L8.05292 5.5"
                                stroke="#currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M9.5 16.5V10.5" stroke="#currentColor" stroke-width="1.5" stroke-linecap="round" />
                            <path d="M14.5 16.5V10.5" stroke="#currentColor" stroke-width="1.5" stroke-linecap="round" />
                        </svg>
                    </button>
                    <!-- Form/Modal excluir transação -->
                    <dialog id="modal_excluir_transacao{{ transacao.id }}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <form action="{% url 'transacoes:excluir' id=transacao.id %}" method="post">
                                {% csrf_token %}
                                <h3 class="text-lg font-bold">Atenção!</h3>
                                <p class="py-4">Tem certeza que deseja continuar e <strong>excluir</strong> a transação?</p>
                                <input class="btn btn-warning" type="submit" value="Continuar">
                            </form>
                        </div>
                    </dialog>
                </td>
            </tr>
        {% endfor %}
        
    </tbody>
</table>
